---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-content {
  padding-top: 0;
}

.post-previews {
  article {
    border-bottom: 1px solid;
    padding-bottom: 2.625rem;

    h2 {
      margin-top: 2.625rem;
      margin-bottom: 0;
      font-weight: bold;

      a {
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-out;

        &:hover {
          border-bottom: 2px solid;
          text-decoration: none;
        }
      }

    }

    time {
      display: block;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }

    p {
      margin-bottom: 0.5rem;
    }

    figure {
      overflow: hidden;
      border-radius: .5rem;
      position: relative;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}

footer {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
  }

  a {
    color: black;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-out;

    &:hover {
      border-bottom: 1px solid;
      text-decoration: none;
    }

    &:visited {
      color: black;
    }
  }
}