---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.post-list > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.post-list > li > figure {
  //height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.post-list > li > figure > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-list > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.post-list > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.post-list > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.post-list > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}
